body{
    form{
        background-color: gainsboro;
        margin-left: 24px;
        margin-right: 24px;
        padding: 50px;
        font-size: small;
    }
}

/* form */
.formularioCotizar {
    background-color: gainsboro;
    margin-left: 24px;
    margin-right: 24px;
    padding: 50px;
    font-size: small; }